*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.3);
    margin:0;
    padding:0;
    width: 100%;
}


.navbar a{
    text-decoration: none;
    color: #f3d8fd;
}

ul li a:hover, .navbar a:hover{
    color:rgb(255, 255, 255);
}

#logo{
    display:flex;

    padding:30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /*height:50%;*/
}

body, .redes{
    font-family: 'Poppins', Geneva, Verdana, sans-serif;
    background: linear-gradient(-135deg, #480057, #000000);
    color:rgb(227, 197, 252);
    box-sizing: inherit;
}

footer, #pie_pagina{
    width: auto;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position:absolute;
}

#area_consulta h1, h2, .contenedor-producto h3, .acercaDe h1{
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}

/*Estilos página contacto con display:grid*/

#comentarios{
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

fieldset{
    border:0;
}

.wrapper{
    width:450px;
    background:transparent;
    padding:30px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}
.wrapper .input-data {
    height:40px;
    width:100%;
    position:relative;
}
.wrapper .input-data input{
    height:100%;
    width:100%;
    border:none;
    border-bottom:2px solid silver;
    font-size:17px;
    background-color: transparent;
    outline:none;
    color:#fff
}
.input-data input:focus ~ label, .input-data input:valid ~ label{
    transform:translateY(-20px);
    font-size:15px;
    color:rgb(227, 197, 252);
}
.wrapper .input-data label{
    position: absolute;
    bottom:10px;
    left:0;
    color:grey;
    pointer-events:none;
    transition:all 0.3s ease;
}
.wrapper .input-data .underline{
    position:absolute;
    bottom:0px;
    height:2px;
    width:100%;
}
.input-data .underline:before{
    position:absolute;
    content:"";
    height:100%;
    width:100%;
    background:rgb(227, 197, 252);
    transform:scaleX(0);
    transition:transform 0.3s ease;
}
.input-data input:focus ~ .underline:before, 
.input-data input:valid ~ .underline:before{
    transform:scaleX(1);
}

.contenedor-boton input[type="file"] {
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.contenedor-boton {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    color: #fff;
    border: 0;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
    overflow: hidden;
    transition: ease-out 120ms background-color;
}
.contenedor-boton > i {
    margin-right: 15px;
}
.contenedor-boton{
    background-color: transparent;
    border:2px solid rgb(227, 197, 252);
    color:rgb(227, 197, 252);
}
.contenedor-boton:hover{
    background-color: rgb(227, 197, 252);
    color: #ffffff;
}

#area_consulta{
    display: grid;
    width:auto;
    margin: 20px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'header header'
    'left right'
    'footer footer';
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 20px;
}

#encabezado{
    grid-area: header;
}

#consulta1{
    grid-area: left;
}
#contacto{
    grid-area: right;
}

#pie_pagina{
    grid-area: footer;
}

/*Estilos página producto con display:flex*/

.contenido-producto{
    padding:20px;
}

.card.h-100{
    background-color:rgba(0, 0, 0, 0.3);
    overflow:hidden;
    box-shadow:0px 2px 4px rgba(0,0,0,0.2);
}
.card-img-top{
    width: auto;
    height: 420px;
    object-fit:contain;
    align-self:center;
}

.card-title{
    font-size:28px;
    margin-bottom:8px;
}

.productos p{
    font-size:15px;
    color:#666;
    line-height:1.3;
}
.precio{
    color: rgb(227, 197, 252);
    font-size:1.7em;
}
.contenido-producto .btn.btn-secondary, #entrada_datos .botones{
    display: flex;
    justify-content: center; 
    
}

.contenido-producto .btn.btn-secondary, .button{
    color: var(--color);
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 5px;
    padding: 1em 0.5em;
    text-decoration: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.contenido-producto .btn.btn-secondary:hover,
.contenido-producto .btn.btn-secondary:focus, .button:hover, .button:focus { 
    border-color: var(--hover);
    color: rgb(227, 197, 252);
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
.btn.btn-primary{
    border: none;
    color:#666;
    text-decoration: none;
    background: none;
}

/*Estilos página inicio con display:flex*/

.acercaDe{
    margin:20px;
    padding:20px;
    display: flex;
    flex-direction: column;
    width:auto;
    flex:1;
}

.acercaDe .video{
    padding:15px 0;
}

.acercaDe .boton{
    position: relative;
    padding:10px 30px;
    margin: 20px 20px;
    display: flex;
    justify-content: center; 
    color: rgb(227, 197, 252);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    overflow:hidden;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0003);
}
.acercaDe .boton:hover{
    background:rgb(227, 197, 252);
    color:#111;
    box-shadow: 0 0 50px rgb(255, 255, 255);
    transition-delay:0.5s;
}
.acercaDe .boton:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 10px;
    height:10px;
    border-top: 2px solid rgb(227, 197, 252);
    border-left: 2px solid rgb(227, 197, 252);
    transition:0.5s;
}
.acercaDe .boton:hover:before{
    width: 100%;
    height:100%;
    transition-delay:0s;
}
.acercaDe .boton:after{
    content:'';
    position: absolute;
    bottom:0;
    right:0;
    width: 10px;
    height:10px;
    border-bottom: 2px solid rgb(227, 197, 252);
    border-right: 2px solid rgb(227, 197, 252);
    transition:0.5s;
    transition-delay:0.5s;
}
.acercaDe .boton:hover:after{
    width: 100%;
    height:100%;
    transition-delay:0s;
}

/*CARRUSEL*/
.acercaDe .slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.slider .list .item img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

/* Pausa la animación al pasar el mouse */
.slider:hover .list {
    animation-play-state: paused !important;
}
/*MEDIA QUERIES*/

@media all and (min-width:600px) and (max-width: 900px){
    #area_consulta{
        display: grid;
        margin: 10px;
        padding: 20px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'left'
        'right'
        'footer';
        align-self:center;
    }
    
    .acercaDe{
        display: flex;
        margin: 10px;
        padding: 20px;
    }
}
 @media all and (max-width: 599px){
    #encabezado{
        width:auto;
    }
    .wrapper{
        width:auto;
    }
    #area_consulta{
        display: grid;
        margin: 10px;
        padding: 10px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'left'
        'right'
        'footer';
        gap: 1rem;
    }
    .acercaDe{
        margin: 10px;
        padding: 10px;
    }
    .botones .btn{
        margin:0;
    }
 }